![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

# Quick Rendering Hack


We'll create a quick class that allows us to display multiple ``DataFrame``s side by side. The code makes use of the special ``_repr_html_`` method, which IPython uses to implement its rich object display:

In [ ]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## Import Required Modules

In [ ]:
import numpy as np
import pandas as pd

# GroupBy: Split, Apply, Combine

## Pull Planets Data

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

In [ ]:
planets.head()

### Split, apply, combine

#### Create a GroupBy object grouped by method for planets

#### Create a GroupBy object grouped by method and select the mass column

#### Using the GroupBy object defined above to calculate mean orbital period grouped by method

### Aggregate, filter, transform, apply

In [ ]:
rng = np.random.RandomState(4)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(1, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

#### Aggregation

#### Get the min, median, and max aggregates grouped by key from the df dataset

#### Get the count, mean, and median aggregates of orbital period grouped by method for the planets dataset

#### Filtering

#### Create a filter function that returns true for keys with a mean greater than 4 for the data2 column. Filter the df dataset grouped by method. Display the input table, the aggregate mean values of the table, and filtered table

#### Create a filter function that returns true for methods with a count higher than 10. Filter the planets dataset grouped by method. Display the count method applied to the input and output table

Remember: you can chain groupby method calls to perform more complex aggregations

#### Transformation

#### Transform the df dataset by subtracting the mean over standard deviation grouped by key. Use a lambda function

#### Create a transformation function which takes a series, checks if the dtype is float64, if it is it divides that series by 1000, if it isn't it returns the series unchanged. Apply this transformation to the planets dataset. This will convert the units of the float64 columns. Display the input and output tables

#### Apply

#### Define a function that takes a DataFrame and assign data1 + data2.mean() to data3. Apply that function to the df dataset grouped by key. Display the input and output table

### Specifying the split key

#### Create a python list providing grouping keys for the df dataset and calculate the sum based on that grouping. Display the input and output tables

#### Pull a column from the df dataset, apply any functions of your choice, and use the resulting array as the grouping key. Calculate the sums for the resulting groups. Display the input and output tables

#### Define a python function that groups df based whether or not the index is even. Calculate the median value of the resulting groups. Display the input and output tables