![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

# Quick Rendering Hack

#### For results requiring multiple tables, use the display class to format your results

In [0]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

# Operating on Null Values

In [0]:
data = pd.Series([3.1414, np.nan, 'hello world', None])

#### Create a boolean mask for rows containing a non-null value

#### Create a table containing all non-null values from data using a masking operation

### Dropping null values

In [0]:
df = pd.DataFrame([[1,      np.nan, 2     ],
                   [2,      3,      5     ],
                   [np.nan, 4,      6     ],
                   [np.nan, np.nan, np.nan],
                   [6     , np.nan, np.nan]])
df

#### Create a table with all non-null values from data using the dropna method

#### Create a table will all non-null rows from df

#### Create a table will all columns with less than three non-null values from df

### Filling null values

In [0]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

#### Create a table with all null values of data filled with 1

#### Create a table with all null values of data filled using the forward-fill method

#### Create a table with all null values of data filled using the back-fill method

For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

In [0]:
df

#### Create a table will all null values of df filled using  the forward-fill method down each column

# Connect to the Strata Scratch Datasets To Explore Our Datasets

This notebook will guide you through the process of connecting to the Strata Scratch database to query datasets. Simply download this notebook and follow the steps.

## Connect to Strata Scratch

Remember to input your username and password

## Pull Data From Strata Scratch

In [0]:
#import nfl_combine

In [0]:
db_data.head()

# Basic Pandas Functionality

#### Print the information about db_data

#### Print the first 8 rows of db_data

#### Print the last 10 rows of db_data

#### Print the summary statistics of db_data

### Filtering Dataframes

Remember: the syntax for filtering DataFrames is similar to that used for boolean masking

In [0]:
#import titanic

In [0]:
data.head()

#### Filter the data for females

Remember: the head method can be used to make results more concise

#### Filter for names and age of passengers with fares greater than 50

### Adding methods to filters

#### Print the number of second class passengers

#### Print the survival rate of males in the third passenger class

survival rate = mean of survived column

#### Print the survival rate for women and children

#### Print the survival rate of men. Then, print the survival rate of women. 

This type of of group based aggregation will become simpler in the next section